recursive-include Shadow *.pyx
recursive-include Shadow *.py
recursive-include Shadow *
recursive-include src *
recursive-include dlls *
include create_and_pack_dlls.py
include tests/test_lens_light.py

include README.md
include MANIFEST.in
